body{
  background-color: rgb(39,50,56);
}

h1{font-family:Impact, Charcoal, sans-serif;
 
  font-size: 48px;
  color:rgb(105,133,147);
 }
#caja-blanca{
  border: 2px solid white;
  background-color:rgb(255,255,255) ;
  width: 100%;
  text-align: center;
}
h2{font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 38px;
  color:rgb(188,189,191);
  font-style: oblique;
}
p{font-family: Arial, Gadget, sans-serif;
  font-size: 18px;
  color:rgb(137,150,162) ;
}